@media (prefer-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #000;
  }
}

@media (prefer-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #fff;
  }
}
