@import "./styles/properties.css";
@import "./components/component-properties.css";

:root {
    background-color: var(--lum-base-color-surface);
    color: var(--lum-base-color-text);

    font-family: "Hanken Grotesk", Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: var(--lum-font-size);
    font-style: normal;
    font-weight: 400;
    letter-spacing: var(--lum-font-letter-spacing);
    line-height: var(--lum-font-line-height);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: calc(1rem * pow(var(--lum-font-typescale), var(--lum-font-typescale-interval)));
    letter-spacing: calc(var(--lum-font-letter-spacing) - (var(--lum-font-letter-spacing-interval) * var(--lum-font-typescale-interval)));
    line-height: calc(var(--lum-font-line-height) - (var(--lum-font-typescale-interval) / 10));
}
