/* @import "./colors/light-mode-color-properties.css"; */
/* @import "./colors/dark-mode-color-properties.css"; */

@property --lum-color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: #FF9500;
}

@property --lum-color-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: #00AAFF;
}

@property --lum-color-neutral {
    syntax: "<color>";
    inherits: true;
    initial-value: #837469;
}
