@property --lum-font-scale-base-size {
    syntax: "<length>";
    inherits: true;
    initial-value: 16px;
}

@property --lum-font-scale-base-letter-spacing {
    syntax: "<length>";
    inherits: true;
    initial-value: 0%;
}

@property --lum-font-scale-base-line-height {
    syntax: "<number>";
    inherits: true;
    initial-value: 1.5;
}

@property --lum-font-scale-interval {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
}

/**
 * - Minor Second: 1.067
 * - Major Second: 1.125
 * - Minor Third: 1.2
 * - Major Third: 1.25
 * - Perfect Fourth: 1.333
 * - Augmented Fourth: 1.414
 * - Perfect Fifth: 1.5
 * - Golden Ratio: 1.618
 *
 * defaults to Major Third
*/
@property --lum-font-scale-size-interval-ratio {
    syntax: "<number>";
    inherits: true;
    initial-value: 1.25;
}

@property --lum-font-scale-letter-spacing-percentage {
    syntax: "<length>";
    inherits: true;
    initial-value: 0.5%;
}