{{ define "page-content" }}
    <section class="card">
        <header>
            Welcome to Luminary!
        </header>
        <main>
            <p>We are glad to have you here. Luminary is a platform that helps you manage your projects efficiently.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </main>
    </section>
{{ end}}