:host {
    --_number-of-columns: var(--lum-grid-layout-mobile-number-of-columns);
    --_span-column-number: var(--_number-of-columns);

    --_grid-span-xxs: var(--lum-grid-layout-mobile-xxs-column-span);
    --_grid-span-xsl: var(--lum-grid-layout-mobile-xsl-column-span);
    --_grid-span-sml: var(--lum-grid-layout-mobile-sml-column-span);
    --_grid-span-mdm: var(--lum-grid-layout-mobile-mdm-column-span);
    --_grid-span-lrg: var(--lum-grid-layout-mobile-lrg-column-span);
    --_grid-span-xlg: var(--lum-grid-layout-mobile-xlg-column-span);
    --_grid-span-xxl: var(--lum-grid-layout-mobile-xxl-column-span);
    --_grid-span-ful: var(--lum-grid-layout-mobile-ful-column-span);

    box-sizing: border-box;
    container: --_column-grid / inline-size;
    display: block;
}

:host > section {
    display: grid;
    grid-template-columns: repeat(var(--_number-of-columns), var(--lum-grid-layout-template-column-size));
    gap: var(--lum-layout-gap);
    box-sizing: border-box;
}

/**
 * Slotted element properties
 */
:host > section > slot::slotted(*) {
    grid-column: span var(--_span-column-number);
}

:host > section > slot::slotted(.lum-grid-layout-xxs)           { --_span-column-number: var(--_grid-span-xxs); }
:host > section > slot::slotted(.lum-grid-layout-xsl)           { --_span-column-number: var(--_grid-span-xsl); }
:host > section > slot::slotted(.lum-grid-layout-sml)           { --_span-column-number: var(--_grid-span-sml); }
:host > section > slot::slotted(.lum-grid-layout-mdm)           { --_span-column-number: var(--_grid-span-mdm); }
:host > section > slot::slotted(.lum-grid-layout-lrg)           { --_span-column-number: var(--_grid-span-lrg); }
:host > section > slot::slotted(.lum-grid-layout-xlg)           { --_span-column-number: var(--_grid-span-xlg); }
:host > section > slot::slotted(.lum-grid-layout-xxl)           { --_span-column-number: var(--_grid-span-xxl); }
:host > section > slot::slotted(.lum-grid-layout-ful)           { --_span-column-number: var(--_grid-span-ful); }

:host > section > slot::slotted(.lum-grid-layout-mobile-xxs)    { --_span-column-number: var(--_grid-span-xxs); }
:host > section > slot::slotted(.lum-grid-layout-mobile-xsl)    { --_span-column-number: var(--_grid-span-xsl); }
:host > section > slot::slotted(.lum-grid-layout-mobile-sml)    { --_span-column-number: var(--_grid-span-sml); }
:host > section > slot::slotted(.lum-grid-layout-mobile-mdm)    { --_span-column-number: var(--_grid-span-mdm); }
:host > section > slot::slotted(.lum-grid-layout-mobile-lrg)    { --_span-column-number: var(--_grid-span-lrg); }
:host > section > slot::slotted(.lum-grid-layout-mobile-xlg)    { --_span-column-number: var(--_grid-span-xlg); }
:host > section > slot::slotted(.lum-grid-layout-mobile-xxl)    { --_span-column-number: var(--_grid-span-xxl); }
:host > section > slot::slotted(.lum-grid-layout-mobile-ful)    { --_span-column-number: var(--_grid-span-ful); }

@container --_column-grid (width >= 768px) {
    :host > section {
        --_number-of-columns: var(--lum-grid-layout-tablet-number-of-columns);

        --_grid-span-xxs: var(--lum-grid-layout-tablet-xxs-column-span);
        --_grid-span-xsl: var(--lum-grid-layout-tablet-xsl-column-span);
        --_grid-span-sml: var(--lum-grid-layout-tablet-sml-column-span);
        --_grid-span-mdm: var(--lum-grid-layout-tablet-mdm-column-span);
        --_grid-span-lrg: var(--lum-grid-layout-tablet-lrg-column-span);
        --_grid-span-xlg: var(--lum-grid-layout-tablet-xlg-column-span);
        --_grid-span-xxl: var(--lum-grid-layout-tablet-xxl-column-span);
        --_grid-span-ful: var(--lum-grid-layout-tablet-ful-column-span);
    }

    :host > section > slot::slotted(.lum-grid-layout-tablet-xxs) { --_span-column-number: var(--_grid-span-xxs); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-xsl) { --_span-column-number: var(--_grid-span-xsl); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-sml) { --_span-column-number: var(--_grid-span-sml); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-mdm) { --_span-column-number: var(--_grid-span-mdm); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-lrg) { --_span-column-number: var(--_grid-span-lrg); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-xlg) { --_span-column-number: var(--_grid-span-xlg); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-xxl) { --_span-column-number: var(--_grid-span-xxl); }
    :host > section > slot::slotted(.lum-grid-layout-tablet-ful) { --_span-column-number: var(--_grid-span-ful); }
}

@container --_column-grid (width >= 1366px) {
    :host > section {
        --_number-of-columns: var(--lum-grid-layout-desktop-number-of-columns);

        --_grid-span-xxs: var(--lum-grid-layout-desktop-xxs-column-span);
        --_grid-span-xsl: var(--lum-grid-layout-desktop-xsl-column-span);
        --_grid-span-sml: var(--lum-grid-layout-desktop-sml-column-span);
        --_grid-span-mdm: var(--lum-grid-layout-desktop-mdm-column-span);
        --_grid-span-lrg: var(--lum-grid-layout-desktop-lrg-column-span);
        --_grid-span-xlg: var(--lum-grid-layout-desktop-xlg-column-span);
        --_grid-span-xxl: var(--lum-grid-layout-desktop-xxl-column-span);
        --_grid-span-ful: var(--lum-grid-layout-desktop-ful-column-span);
    }

    :host > section > slot::slotted(.lum-grid-layout-desktop-xxs) { --_span-column-number: var(--_grid-span-xxs); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-xsl) { --_span-column-number: var(--_grid-span-xsl); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-sml) { --_span-column-number: var(--_grid-span-sml); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-mdm) { --_span-column-number: var(--_grid-span-mdm); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-lrg) { --_span-column-number: var(--_grid-span-lrg); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-xlg) { --_span-column-number: var(--_grid-span-xlg); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-xxl) { --_span-column-number: var(--_grid-span-xxl); }
    :host > section > slot::slotted(.lum-grid-layout-desktop-ful) { --_span-column-number: var(--_grid-span-ful); }
}