header {
    padding: 0 var(--lum-base-layout-gap) var(--lum-base-layout-gap);
}

header.page-header {
    padding: var(--lum-base-layout-gap);
}

h1 { --lum-font-typescale-interval: 3; }
h2 { --lum-font-typescale-interval: 2; }
h3 { --lum-font-typescale-interval: 1; }

.card {
    --showcase-color: var(--lum-base-color-surface);

    color: contrast-color(var(--showcase-color));
    background-color: hsl(from var(--showcase-color) h s l / 1);
    margin: 0 var(--lum-base-layout-gap) var(--lum-base-layout-gap);
    border-radius: 1rem;
    border-style: squircle;
    box-shadow:
        0px 2px 2px hsl(from var(--lum-base-color-surface) h s calc(l - 10) / 0.17),
        0px 4px 4px hsl(from var(--lum-base-color-surface) h s calc(1 - 10) / 0.09);
}

.card > h3 {
    padding: var(--lum-base-layout-gap);
}

.card > .swatch {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 75px;
    border-top: 1px solid black;
}

.card > .swatch > .hue {
    border-right: 1px solid black;
}

.card > .swatch > .hue:last-child {
    border-right: none;
}

.card.color-surface { --showcase-color: var(--lum-base-color-surface); }
.card.color-primary { --showcase-color: var(--lum-base-color-primary); }
.card.color-secondary { --showcase-color: var(--lum-base-color-secondary); }
.card.color-text { --showcase-color: var(--lum-base-color-text); }
.card.color-background { --showcase-color: var(--lum-base-color-background); }
