<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }}</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
        <script src="/assets/scripts.js"></script>
    </head>
    <body>
        <main hx-get="{{ .Path }}" hx-swap="outerHTML" hx-trigger="load"></main>
    </body>
</html>