@property --lum-color-background-light-base {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 90% / 1);
}

@property --lum-color-background-light-medium {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 95% / 1);
}

@property --lum-color-background-light-high {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 100% / 1);
}

@property --lum-color-text-light-base {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 10% / 1);
}

@property --lum-color-text-light-medium {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 5% / 1);
}

@property --lum-color-text-light-high {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 0% / 1);
}

@property --lum-color-primary-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(35 100% 50% / 1);
}

@property --lum-color-secondary-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(200 100% 50% / 1);
}

@property --lum-color-danger-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 100% 70% / 1);
}

@property --lum-color-warning-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(60 100% 70% / 1);
}

@property --lum-color-success-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(120 100% 70% / 1);
}

@property --lum-color-info-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(180 100% 70% / 1);
}

@property --lum-color-border-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 90% / 1);
}

@property --lum-color-highlight-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 100% / 1);
}

@property --lum-color-shadow-one-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 0% / 0.07);
}

@property --lum-color-shadow-two-light {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(0 0% 0% / 0.15);
}