body > header,
body > main > lum-gric
{
    margin: var(--lum-layout-gap);
}

body > main {
    padding: var(--lum-layout-gap);
    background-color: var(--lum-color-background-medium);
}

body > main > h3 {
    margin-bottom: var(--lum-layout-gap);
    border-bottom: 1px solid var(--lum-color-secondary);
}

body > main > h5 {
    margin-bottom: var(--lum-layout-gap);
}

body > main > .lum-example {
    margin-bottom: calc(var(--lum-layout-gap) * 2);
}

.lum-example > lum-grid {
    margin-bottom: var(--lum-layout-gap);
}

lum-grid > [class*="lum-grid-layout-"] {
    color: color-contrast(var(--lum-color-background-high));
    background-color: var(--lum-color-background-high);
    box-shadow: var(--lum-color-shadow);
}