@import "./styles/properties.css";
@import "./components/lum-components.properties.css";

:root {
    color-scheme: light dark;

    /* COLORS - Base */
    --lum-color-primary: light-dark(var(--lum-color-primary-light), var(--lum-color-primary-dark));
    --lum-color-secondary: light-dark(var(--lum-color-secondary-light), var(--lum-color-secondary-dark));
    --lum-color-danger: light-dark(var(--lum-color-danger-light), var(--lum-color-danger-dark));
    --lum-color-warning: light-dark(var(--lum-color-warning-light), var(--lum-color-warning-dark));
    --lum-color-success: light-dark(var(--lum-color-success-light), var(--lum-color-success-dark));
    --lum-color-info: light-dark(var(--lum-color-info-light), var(--lum-color-info-dark));

    /* COLORS - Background */
    --lum-color-background-base: light-dark(var(--lum-color-background-light-base), var(--lum-color-background-dark-base));
    --lum-color-background-medium: light-dark(var(--lum-color-background-light-medium), var(--lum-color-background-dark-medium));
    --lum-color-background-high: light-dark(var(--lum-color-background-light-high),var(--lum-color-background-dark-high));

    /* COLORS - Text */
    --lum-color-text-base: light-dark(var(--lum-color-text-light-base), var(--lum-color-text-dark-base));
    --lum-color-text-medium: light-dark(var(--lum-color-text-light-medium), var(--lum-color-text-dark-medium));
    --lum-color-text-high: light-dark(var(--lum-color-text-light-high), var(--lum-color-text-dark-high));
    --lum-color-text-muted: light-dark(
        hsl(from var(--lum-color-text-base) h s calc(l + 25) / 1),
        hsl(from var(--lum-color-text-base) h s calc(l - 25) / 1),
    );

    /* COLORS - Border, highlight and shadow colors */
    --lum-color-border: light-dark(var(--lum-color-border-light), var(--lum-color-border-dark));
    --lum-color-highlight: light-dark(var(--lum-color-highlight-light), var(--lum-color-highlight-dark));
    --lum-color-shadow-one: light-dark(var(--lum-color-shadow-one-light), var(--lum-color-shadow-one-dark));
    --lum-color-shadow-two: light-dark(var(--lum-color-shadow-two-light), var(--lum-color-shadow-two-dark));
    --lum-color-shadow: 0px 2px 2px var(--lum-color-shadow-one), 0px 4px 4px var(--lum-color-shadow-two);
 
    /* Fonts */
    font-family: "Hanken Grotesk", Arial, sans-serif;
    font-optical-sizing: auto;
    font-size: var(--lum-font-scale-base-size);
    font-style: normal;
    font-weight: 400;
    letter-spacing: var(--lum-font-scale-base-letter-spacing);
    line-height: var(--lum-font-scale-base-line-height);
}

*, *::before, *::after {
    /* Layout */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Fonts */
    font-size: calc(1rem * pow(var(--lum-font-scale-size-interval-ratio), var(--lum-font-scale-interval)));
    font-weight: normal;
    letter-spacing: calc(var(--lum-font-scale-base-letter-spacing) - (var(--lum-font-scale-letter-spacing-percentage) * var(--_font-scale-interval)));
    line-height: calc(var(--lum-font-scale-base-line-height) - (var(--lum-font-scale-interval) / 10));
}

body {
    background-color: var(--lum-color-background-base);
    color: var(--lum-color-text-base);

    min-height: 100vh;
    min-width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    --lum-font-scale-interval: 5;
}

h2 {
    --lum-font-scale-interval: 4;
}

h3 {
    --lum-font-scale-interval: 3;
}

h4 {
    --lum-font-scale-interval: 2;
}

h5 {
    --lum-font-scale-interval: 1;
}

h6 {
    --lum-font-scale-interval: 0;
}

.text-small {
    --lum-font-scale-interval: -1;
}

.text-muted {
    color: var(--lum-color-text-muted);
}

/**
TODO: Working on layout next

Notes: 
- Desktop = 12 columns
- Tablet = 8 columns
- mobile = 4 columns

8 point grid system:
- spacing is always a multiple of 8
- 8, 16, 24, 32, 64, 128, 256

Visual Hierarchy
- Layout should guide the eyes
- Use proximity, related things together
- Use size to tell users most -> least important :: bigger -> smaller size
- Use contrast to visually pop important things while blending in less important
- Use alignment: clean lines always equal a clear structure

Color
- Do not use more color, use the color you have intentionally
- Limit your palette: 2-3 colors for any project should be fine
-- Luminary allows definition of 2 colors: primary and secondary
-- Luminary also defines specific generic colors for danger, warning, success, and info states
- Use the 60, 30, 10 rule.
-- 60% of your content should be your background and text colors (blacks / whites)
-- 30% of your content should be secondary colors: primary / secondary, buttons should use primary, accents use secondary
-- 10% accent colors: danger, wanring, success, info
- Use opacity rather than using more colors
- prioritize contrast in color selection
-- Highest contrast = 21:1
-- Passable contrast = 5:1 (lower in actuality, but we won't accept less)
-- Failed contrast = anything less than passable
- Chrome -> Developer Tools -> ... -> More tools -> CSS Overview

Design for action
- Every page should have one goal
- Clear strategic calls to action
- Trust, Clarity, Feelings
*/






/* @keyframes --anim-fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

:not(:defined) {
    opacity: 0;
    visibility: hidden;
}

:is(:defined) {
    animation: wakeUp 0.5s ease forwards;
    visibility: visible;
} */