@import "./light-mode-color-properties.css";
@import "./dark-mode-color-properties.css";

@property --lum-base-color-surface {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(22 100% 98% / 1); /* #FFF8F4 */
}

@property --lum-base-color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(38 94% 50% / 1); /* #F59#08 */
}

@property --lum-base-color-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(199 89% 48% / 1); /* #0EA5E9 */
}

@property --lum-base-color-text {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(32 33% 10% / 1); /* #221A11 */
}

@property --lum-base-color-background {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(29 100% 94% / 1); /* #FFEEDE */
}

:root {
    color-scheme: light;

    --lum-base-color-surface: light-dark(var(--lum-base-light-color-surface), var(--lum-base-dark-color-surface));
    --lum-base-color-primary: light-dark(var(--lum-base-light-color-primary), var(--lum-base-dark-color-primary));
    --lum-base-color-secondary: light-dark(var(--lum-base-light-color-secondary), var(--lum-base-dark-color-secondary));
    --lum-base-color-text: light-dark(var(--lum-base-light-color-text), var(--lum-base-dark-color-text));
    --lum-base-color-background: light-dark(var(--lum-base-light-color-background), var(--lum-base-dark-color-background));
}
