@property --lum-base-dark-color-surface {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(224 33% 9% / 1); /* #0F131E */
}

@property --lum-base-dark-color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(217 91% 60% / 1); /* #3B82F6 */
}

@property --lum-base-dark-color-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(25 95% 53% / 1); /* #F97316 */
}

@property --lum-base-dark-color-text {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(230 100% 96% / 1); /* #6DF0DD */
}

@property --lum-base-dark-color-background {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(224 25% 12% / 1); /* #141B26 */
}
