@property --lum-base-light-color-surface {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(22 100% 98% / 1); /* #FFF8F4 */
}

@property --lum-base-light-color-primary {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(38 94% 50% / 1); /* #F59#08 */
}

@property --lum-base-light-color-secondary {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(199 89% 48% / 1); /* #0EA5E9 */
}

@property --lum-base-light-color-text {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(32 33% 10% / 1); /* #221A11 */
}

@property --lum-base-light-color-background {
    syntax: "<color>";
    inherits: true;
    initial-value: hsl(29 100% 94% / 1); /* #FFEEDE */
}
